body{background-color:#3e4d34;color:#5e734e;text-align:center}
header{background-color:#8c4734;color:#f1eb9c;text-align:center}
.navigation{background-color:#a15537;text-align:center}
.lst{list-style:none;color:#f1eb9c;}
.divisions{background-color:#b8775b;color:#f1eb9c;text-align:center}
footer{background-color:#5e734e;color:#f1eb9c;text-align:center}